body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}
a {
  text-decoration: none;
}

.site-navigation {
  list-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.navigation-link {
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2);   */
  color: #ffffff;
  margin-right: 3px;
  padding: 7px 13px;

  text-decoration: underline;

  border-radius: 40px;
}
.navigation-link:focus,
.navigation-link:hover {
  color: #333333;
  text-decoration: none;

  background-color: #f7f6f3;
}
.navigation-link:active {
  text-decoration: none;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.004);
}
.navigation-item {
  position: relative;

  padding-top: 8px;
  padding-bottom: 12px;
}
.sub-menu {
  position: absolute;
  top: 37px;
  left: -7px;
  z-index: 20;

  display: none;
  width: 143px;
  min-height: 171px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 2px 10px 20px 5px #56645c;
}
.site-navigation li:hover .sub-menu {
  display: block;
}
.sub-menu-link {
  display: block;

  font-size: 14px;
  line-height: 16px;
  color: #323232;
  color: #323232;
  text-decoration: none;

  background-color: #f8f7f4;
}
.sub-menu-link:hover,
.sub-menu-link:focus {
  background-color: #fbded7;
}
.sub-menu-link:active {
  background-color: #f6b5a5;
}
.sub-menu-link {
  padding: 6px;
  padding-left: 20px;
}
.sub-link-first {
  padding: 9px;
  padding-left: 20px;
}
.sub-menu-item:first-child {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}
.sub-menu-item {
  padding: 3px 0;
}
.user-navigation {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  position: relative;

  margin: 0;
  margin-right: 9px;
  padding: 0;
}
.search {
  width: 309px;
  margin: 20px 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.search-form {
  position: absolute;
  top: 36px;
  right: 0;

  display: none;
  width: 341px;
  height: 84px;

  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}  
.login-link {
  display: block;
  padding: 8px 16px 8px 44px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;

  background-color: #a1b5aa;
  border-radius: 30px;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;

  display: block;
  width: 32px;
  height: 32px;

  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}
.login-link:hover::before,
.login-link:focus::before {
  background-image: url("../img/login-hover.svg");
}

.login-link:hover,
.login-link:focus {
  color: #323232;

  background-color: #f8f7f4;
}
.login-form {
  position: absolute;
  top: 36px;
  right: 0;

  display: none;
  width: 277px;
  height: 214px;

  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.user-navigation:hover .login-form {
  z-index: 10;

  display: block;
}
.login-help-wrapper {
  display: inline-block;
  margin-top: 20px;
}

.login-form a {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #323232;

  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}
.login-form a:hover,
.login-form a:focus,
.login-form a:active {
  color: #e84d37;

  border-bottom: 2px solid rgba(232, 77, 55, 0.3);
}
.login-email,
.login-password {
  width: 240px;
  margin: 20px 17px 0 19px;
  padding: 0;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.cart-link {
  display: block;
  padding: 8px 34px 8px 45px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;

  background-color: #a1b5aa;
  border-radius: 30px;
}
.cart-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;

  display: block;
  width: 32px;
  height: 32px;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}
.cart-inner {
  position: relative;

  margin: 0;
  padding: 0;
}
.cart-full {
  display: block;
  padding: 8px 16px 8px 45px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;

  background-color: #f7f6f3;
  border-radius: 30px;
  cursor: pointer;
}
.cart-full::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;

  display: block;
  width: 32px;
  height: 32px;

  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}
.cart-inner:hover .cart-form {
  z-index: 20;

  display: block;
}
.cart-form {
  position: absolute;
  top: 36px;
  right: 0;

  display: none;
  width: 540px;
  height: 242px;
  margin-left: 33px;
  padding: 0 15px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.cart {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.cart-item {
  position: relative;

  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}
.item-del {
  position: absolute;

  width: 11px;
  height: 11px;

  background-color: transparent;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  border: none;
}
.cart-item img {
  margin-left: 25px;

  border-radius: 33px;
}
.cart-item-title {
  width: 220px;
  margin: 0 12px 0 12px;
}
.price {
  color: #999999;
}
.sum {
  width: 70px;
  margin-left: 20px;
}
.total-price {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #323232;
}
.contacts-breadcrumbs-wrapper {
  display: flex;
  align-items: flex-end;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 27px;
  margin-bottom: 0;
  margin-left: auto;
}
.job-time {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.job-phone {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  margin-top: 4px;
}
.breadcrumbs {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 2px 27px;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.breadcrumbs a {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.page-tittle {
  padding: 0 27px;
  margin:2px 0;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}


.offers h2 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}
.offers p {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.offers-item-1 {
  background-image: url("../img/bg-raspberries.jpg");
  border-radius: 10px;
}
.offers-item-2 {
  background-image: url("../img/bg-chocolate.jpg");
  border-radius: 10px;
}
.product-wrapper {
  position: absolute;
  min-height: 330px;
  
}
.products-item {
  position: relative;

  width: 267px;
  min-height: 330px;
  margin-right: 26px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.products-item:hover .product-contetn-wrapper {
  position: absolute;
  top: 6px;
  left: 13px;
}
.products-item:hover .product-wrapper {
  position: absolute;
  top: -6px;
  left: -13px;

  width: 293px;
  height: 405px;

  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 40;
}
.hit-icon {
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
}

.products-item:hover .quick-view-btn {
  position: absolute;
  top: 335px;
  left: 25px;

  display: block;
}
.products {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 27px;
}

.products-item:nth-child(4n+1) {
  margin-right: 0;
}
.products-item img {
  border-radius: 134px;
}
.products-price {
  position: absolute;
  top: 208px;

  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}
.price-rub {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}
.link-btn {
  position: absolute;
  top:279px;
  left:3px;
  width: 261px;

  text-align: center;
}
.products-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.products-link:hover,
.products-link:focus,
.products-link:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.about {
  margin: 0 27px;
  margin-bottom: 40px;
  padding: 25px 20px;

  background-image: url("../img/bg-about.jpg");
  border-radius: 10px;
}
.about h2 {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}
.about p {
  margin: 0;
  margin-top: 20px;
  margin-left: 55px;
  padding: 0;
}
.about-list li {
  position: relative;

  width: 538px;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
  color: #323232;
}
.about-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  display: block;
  width: 49px;
  height: 49px;

  border-radius: 50px;
}
.about-item:nth-of-type(1)::before {
  background-image: url("../img/ice-cream.svg");
}

.about-item:nth-of-type(2)::before {
  background-image: url("../img/cow.svg");
}

.about-item:nth-of-type(3)::before {
  background-image: url("../img/eco.svg");
}

.about-item:nth-of-type(4)::before {
  background-image: url("../img/thermometer.svg");
}
.news-blog {
  width: 560px;
  padding: 23px 0;

  background-image: url("../img/bg-blog.jpg");
  background-repeat: no-repeat;
  background-position: 10% 40%;
  border-radius: 10px;
}
.news-blog p {
  margin: 0;
  margin-bottom: 3px;
  margin-left: 20px;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}
.news-blog a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;

  border-bottom: 2px solid rgba(50, 50, 50);
}
.news-blog a:hover,
.news-blog a:focus,
.news-blog a:active {
  color: #e84d37;

  border-bottom: 2px solid rgba(232, 77, 55);
}
.subs {
  color: #323232;

  background-color: #f8f7f4;
}
.subs p {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}
.subs-e-mail {
  width: 368px;
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.subs {
  width: 560px;
  min-height: 220px;
  margin: 0;
  padding: 0;

  background-image: repeating-linear-gradient( -45deg, transparent, transparent 7px, rgb(254, 158, 144) 7px, rgb(254, 158, 144) 14px, transparent 14px, transparent 21px, rgb(146, 205, 255) 21px, rgb(146, 205, 255) 28px);
  border: none;
  border-radius: 10px;
}
.subs-form {
  position: relative;

  margin: 5px 6px;
  padding: 30px 20px 30px 20px;

  background-color: rgb(248, 247, 244);
  border-radius: 10px;
}
.send-btn {
  position: absolute;
  right: 20px;
  bottom: 35px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  border: none;
}

.feedback {
  position: absolute;
  top: 63px;
  right: 27px;

  width: 253px;
  padding: 10px 24px 30px 24px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #ffffff;
  border-radius: 10px;
}
.feedback p {
  margin: 0;
  margin-top: 19px;
  padding: 0;
}
.feedback .feedback-phone-time {
  margin-bottom: 29px;
}
.adress {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.feedback-phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.footer-social {
  display: flex;
  margin: 0;
  padding: 14px 0;

  list-style: none;
}
.social-btn {
  width: 33px;
  height: 33px;
  margin: 0;
  margin-top: 3px;
  margin-right: 10px;
  padding: 0;

  border: 3px solid rgba(194, 206, 199, 0.5);
  border-radius: 50%;
  opacity: 0.5;
}
.social-btn:hover {
  border: 3px solid rgba(219, 227, 222, 0.7);
  opacity: 1;
}

.social-btn:active {
  border: 3px solid rgba(219, 227, 222, 1);
  opacity: 0.7;
}
.social-twi {
  background: url("../img/twitter.svg") no-repeat;
  background-size: contain;
}

.social-inst {
  background: url("../img/instagram.svg") no-repeat;
  background-size: contain;
}

.social-fb {
  background: url("../img/fb.svg") no-repeat;
  background-size: contain;
}

.social-vk {
  background: url("../img/vk.svg") no-repeat;
  background-size: contain;
}

.links {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 304px;
  margin: 0;
  margin-right: 8px;
  padding: 12px 0;

  list-style: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
.firts-link-footer {
  font-weight: 700;
}
.firts-link-footer::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -24px;

  display: block;
  width: 19px;
  height: 19px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 13px;
}
.links-column {
  display: flex;
  flex-direction: column;
}
.links a {
  position: relative;

  font-size: 13px;
  line-height: 24px;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.links a:hover,
.links a:focus,
.links a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}
.copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.copyright-link {
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.copyright-link:hover,
.copyright-link:focus,
.copyright a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.feedback-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  background-color: #f8f7f4;
}
.feedback-form h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}
.feedback-name {
  width: 266px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.feedback-e-mail {
  width: 266px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.feedback-text {
  width: 428px;
  min-height: 155px;
  margin-bottom: 50px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

 /*--------------- кнопки ----------------*/

.btn {
  display: inline-block;
  margin: 0;
  padding: 11px 20px;

  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-image: linear-gradient(#f26843, #e74a35);
  border-radius: 50px;
  box-shadow: 0 2px 2px 0 rgba(86, 8, 0, 0.541);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: #ffffff;

  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.004);
}
.btn:active {
  color: #fceeec;

  background-image: linear-gradient(#d74632, #e1603e);
  box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 0.004);
}
.btn-accept {
  height: 37px;
  margin: 0;
  padding: 0 27px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.188);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius: 40px;
}
.btn-accept:hover,
.btn-accept:focus {
  color: #323232;

  background-color: rgb(255, 255, 255);
}
.btn-accept:active {
  color: #323232;

  background-color: rgb(237, 237, 237);
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.004);
}
.enter-btn {
  margin: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  border: none;
}
.want-btn {
  position: absolute;
  right: 22px;
  bottom: 24px;
  padding: 11px 21px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  border: none;
}

.feedback-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 11px 27px;
  border: none;
}
.cart-btn {
  position: absolute;
  right: 15px;
  bottom: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  border: none;
}
.quick-view-btn {
  display: none;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  border: none;
}
.send-feed-btn {
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.input-field {
  box-sizing: border-box;
  height: 44px;
  padding-left: 15px;

  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(178, 178, 178);
  border-radius: 5px;
}

.input-field:hover {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(154, 154, 154);
  border-radius: 5px;
}
.input-field:focus {
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(46, 136, 228);
  border-radius: 5px;
}
.pagination {
  display: flex;
  margin: 42px 27px 31px 0px;
  padding: 0;
}
.footer-line {
  margin: 0 27px;
  border-color: white;
  opacity: 0.3;
} 
.pagination-list {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.pagination-item {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 26px;
  height: 26px;

  color: white;
  text-decoration: none;
  margin-left: 2px;
  background: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 50%;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-pack: distribute;
}

.pagination-item:hover {
  color: white;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item:active {
  color: black;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 1);
}

.pagination-item-current {
  color: black;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 1);
}

.pagination-item-disabled {
  opacity: 0.2;
}

.pagination-item-disabled:hover {
  background-color: rgba(255, 255, 255, 0);
}

.arrow-left {
  text-decoration: none;

  background-image: url("../img/icon-left-small.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.arrow-right {
  text-decoration: none;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center center;
}




.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}
/* _________сетка тут будет___________ */
/* body {
    background-image: url('../img/gllacy-index-1200.jpg');
    background-size: 1200px auto;
    background-repeat: no-repeat;
    background-position: top center;
} */
.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-01.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}
.main-navigation {
  display: flex;
  align-items: center;
  width: 1146px;
  padding: 0 27px;
  padding-top: 9px;
}
.site-logo {
  width: 154px;
  height: 64px;
  margin-right: 10px;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
}
.user-navigation-wrapper {
  position: relative;

  display: flex;
  margin-left: auto;
  padding: 0;
}
.main-search {
  position: relative;

  display: block;
  width: 32px;
  height: 32px;
  margin: 0;
  margin-right: 10px;
  padding: 0;

  background: rgba(255, 255, 255, 0.2) url("../img/loupe.svg") no-repeat center;
  background-size: 50%;
  border-radius: 50%;
}
.main-search:hover {
  background: #f8f7f4 url("../img/loupe-hover.svg") no-repeat center;
}
.main-search:hover .search-form {
  z-index: 10;

  display: block;
}
.main-search:hover::after {
  content: "";
  position: absolute;
  top: 30px;

  display: block;
  width: 120%;
  height: 6px;
  background: transparent;
}
.user-navigation:hover::after {
  content: "";
  position: absolute;
  top: 30px;
  left: -20%;

  display: block;
  width: 120%;
  height: 6px;
  background: transparent;
}
.cart-full:hover::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 0;
  display: block;
  width: 120%;
  height: 6px;

  background: transparent;
}

.offers {
  display: flex;
  justify-content: space-between;
  width: 1146px;
  
  margin: 0;
  margin-bottom: 40px;
  padding: 0 27px;
}
.offers-item-1 {
  position: relative;
  min-height: 198px;
  width: 522px;
  padding: 16px 19px;
}
.offers h2 {
  margin: 0;
  padding: 0;
}
.offers p {
  margin-top: 15px;
}
.offers-item-2 {
  position: relative;
  min-height: 198px;
  width: 520px;
  padding: 16px 20px;
}



.news-subs-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 40px;
  padding: 0 27px;
}

.map {
  position: relative;

  width: 100%;
}
.main-footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 14px 27px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
  margin-bottom: 40px;
  padding: 0 27px;
}
.filter fieldset {
  position: relative;

  margin-top: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  background-color: rgb(169, 186, 176);
  border: none;
  border-radius: 40px;
}
.filter legend {
  position: absolute;
  top: -22px;
  left: 16px;

  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter ul {
  margin: 0;
  padding: 10px 0;

  list-style: none;
}
.filter-input {
  display: none;
}
.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}
.filter-radio + .filter-label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  display: inline-flex;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  margin-bottom: 0;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 22px 22px;
  opacity: 0.7;
}
.filter-label {
  position: relative;

  padding-left: 32px;
}
.filter-radio:checked + .filter-label::before {
  background-image: url("../img/radio-on.svg");
  background-size: 22px 22px;
}
.filter-radio + .filter-label:hover::before {
  opacity: 1;
}
.filter-checkbox + .filter-label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  display: inline-flex;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  margin-bottom: 0;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  opacity: 0.7;
}
.filter-checkbox:checked + .filter-label::before {
  background-image: url("../img/checkbox-on.svg");
  background-size: 23px 20px;
}
.filter-checkbox + .filter-label:hover::before {
  opacity: 1;
}

.fat-filter-list,
.topping-filter-list {
  margin: 0;
  padding: 0;
}
.fat-filter-item {
  display: inline-flex;
  margin-right: 13px;
}
.fat-filter-item:last-of-type {
  margin-right: 0;
}
.topping-filter-item {
  display: inline-flex;
  margin-right: 16px;
}
.topping-filter-item:last-of-type {
  margin-right: 0;
}
/* --------фильтр селект сортировки-------- */
.filter-sort {
  width: 195px;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 26px;
  padding: 0;
}
.select-sort {
  position: relative;

  width: 194px;
  height: 36px;
  padding: 0 15px;

  font-weight: 500;
  color: white;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 166px center;
  background-size: 11px 10px;
  border: none;
  border-radius: 40px;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.select-sort::-ms-expand {
  display: none;
}
.select-sort:hover,
.select-sort:focus {
  height: 36px;

  color: #323232;

  background: rgba(255, 255, 255, 0.2);
  background-image: url("../img/select-arrow-black.svg");
  background-repeat: no-repeat;
  background-position: 166px center;
  background-size: 11px 10px;
  border: none;
  border-radius: 40px;
}
.filter-fat {
  display: inline-flex;
  width: 391px;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 26px;
  padding: 0;
  padding: 0 12px;
}
.filter-topping {
  width: 670px;
  margin-right: 15px;
  padding: 0 16px;
  margin-left:0;
}


.modal-feedback {
  position: fixed;
  top: 340px;
  left: 50%;
  z-index: 2;

  display: none;
  width: 428px;
  margin-left: -239px;
  padding: 15px 25px 25px 25px;

  background-color: #f8f7f4;
  border-radius: 10px;
}
.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 17px;
  height: 17px;

  font-size: 0;

  background-color: #f8f7f4;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  border: 0;
  border-style: none;
  cursor: pointer;
}
.feedback-form p {
  margin: 0;
  margin-bottom: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}
.modal-open {
  display: block;
}
/* ------------- slider------------- */
.slider {
  position: relative;

  padding-top: 275px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-weight: 700;
  font-size: 60px;
  line-height: 60.35px;
}

.main-bоuth-btn {
  display: inline-block;
  padding: 10px 42px;

  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.main-bоuth-btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.main-bоuth-btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 19px;
  left: 27px;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls label:hover {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: b2c1b7;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-01.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-02.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-03.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
.current {
  color: #ffffff;

  background-color: #d07058;
}

/* -------------ползунок цен------------ */
.filter-price {
  width: 220px;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 26px;
}
.price-legend {
  margin: 0;
  margin-left: 14px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.controls-wrapper {
  padding: 16px 22px;
  margin-top: 6px;
  background-color: #a9bab0;
  border: none;
  border-radius: 40px;
}
.range-controls {
  position: relative;

  margin: 0;

  border-radius: 15px;
}
.range-controls .scale {
  position: relative;

  height: 4px;

  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  position: absolute;
  left: 23px;

  width: 95px;
  height: 4px;

  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  width: 6px;
  height: 6px;
}
.range-toggle-min {
  left: 13px;
}

.range-toggle-max {
  left: 111px;
}
.input-field {
  font-weight: 700;
}
.input-field::-webkit-input-placeholder {
  font-weight: 400;
}
.input-field:-ms-input-placeholder {
  font-weight: 400;
}
.input-field::-ms-input-placeholder {
  font-weight: 400;
}
.input-field::placeholder {
  font-weight: 400;
}
.input-field::-ms-input-placeholder {
  font-weight: 400;
}
.input-field:-ms-input-placeholder {
  font-weight: 400;
}